body{
  margin: 0;
  background: url("../images/9.jpg") no-repeat;
  background-size: 100% 100%;
  /*background-color: #e3e3e3;*/
  box-sizing: border-box;
  height: 1300px;
}
#Shape_1 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 162px;
  top: 100px;
  width: 650px;
  height: 274px;
  z-index: 10;
}
#Shape_2 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 163px;
  top: 102px;
  width: 649px;
  height: 274px;
  z-index: 9;
}
#Shape_3 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 166px;
  top: 107px;
  width: 641px;
  height: 268px;
  z-index: 8;
}
#LoginNow {
  font-size: 14px;
  font-family: "Candara";
  color: #999;
  line-height: 1.8;
  text-align: left;
  position: absolute;
  left: 235.094px;
  top: 388.666px;
  z-index: 5;
  width: 250px;
}
#LoginNow a{
	color: #72985a;
	text-decoration: none;
}
#SignUpIntro h2 {
  position: absolute;
  left: 225.5px;
  top: 112px;
  z-index: 35;
  width: 80px;
}
#Separator {
  /*position: absolute;
  left: 200px;
  top: 100px;*/
  width: 220px;
  height: 230px;
  position: absolute;
  left: 268px;
  top: 130px;
  border-right: 1.8px solid #e3e3e6;
  z-index: 41;
}
#username{
  position: absolute;
  left: 210px;
  top: 192px;
  z-index: 41;
  width: 184.5px;
  height: 26px;
  border: 1.5px solid #e3e3e6;
  border-radius: 2px;
  padding-left: 40px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  outline: none;     /*取消input被选中后出现的蓝框*/
}
#username:hover{
	border-color: #93c273;
}
::-webkit-input-placeholder{
	color: #a7a7a7;
	position: relative;
	top: 1px;
}    /* 使用webkit内核的浏览器 */  
#User_Icon{
  position: absolute;
  left: 219px;
  top: 198px;
  z-index: 41; 
  border: 0px;
}
#Key_Icon1 {
  position: absolute;
  left: 219.5px;
  top: 248px;
  width: 16px;
  height: 14px;
  z-index: 41;
}
#Key_Icon2 {
  position: absolute;
  left: 219.5px;
  top: 298px;
  width: 16px;
  height: 14px;
  z-index: 41;
}
#password1{
  position: absolute;
  left: 213px;
  top: 242px;
  z-index: 40;
  width: 184.5px;
  height: 26px;
  border: 1.5px solid #e3e3e6;
  border-radius: 2px;
  padding-left: 40px;
  outline: none;     /*取消input被选中后出现的蓝框*/
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
#password1:hover{
	border-color: #93c273;
}
#password2{
  position: absolute;
  left: 213px;
  top: 292px;
  z-index: 40;
  width: 184.5px;
  height: 26px;
  border: 1.5px solid #e3e3e6;
  border-radius: 2px;
  padding-left: 40px;
  outline: none;     /*取消input被选中后出现的蓝框*/
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
#password2:hover{
	border-color: #93c273;
}
#mail {
  position: absolute;
  left: 535px;
  top: 192px;
  z-index: 41;
  width: 184.5px;
  height: 26px;
  border: 1.5px solid #e3e3e6;
  border-radius: 2px;
  padding-left: 40px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  outline: none;     /*取消input被选中后出现的蓝框*/
}
#mail:hover{
  border-color: #93c273;
}
#Mail_Icon{
  position: absolute;
  left: 450px;
  top: 105px;
  z-index: 41; 
  border: 0px;
  transform: scale(0.1,0.1);
}
#Tel{
  position: absolute;
  left: 535px;
  top: 242px;
  z-index: 41;
  width: 184.5px;
  height: 26px;
  border: 1.5px solid #e3e3e6;
  border-radius: 2px;
  padding-left: 40px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  outline: none;     /*取消input被选中后出现的蓝框*/
}
#Tel:hover{
    border-color: #93c273;
}
#Tel_Icon{
  position: absolute;
  left: 450px;
  top: 154px;
  z-index: 41; 
  border: 0px;
  transform: scale(0.1,0.1);
}
#SignBtn{
  position: absolute;
  left: 595px;
  top: 300px;
  z-index: 42; 
  border: 1.8px solid #e3e3e6;
  width: 90px;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: #a7a7a7;
  font-size: 14px;
  outline: none;     /*取消input被选中后出现的蓝框*/
}
#SignBtn:hover{
  cursor: pointer;
}
#MainPart{
  transform: scale(1.1,1.1);
  position: absolute;
  top: 5%;
  left: 12%;
}