body {
	/*height: 1300px;*/
	background-color: #F0FFF0;
	/*background-color: #F5F5F5;	*/
	/*font-family: "Microsoft Yahei";*/
	/*box-sizing: border-box;*/
	/*font-size: 18px;
	color: #333;
	margin: 0;*/
}
#chooseCol{
	float: right;
	position: absolute;
	right: 150px;
	top: 130px;
}
#doc{
	padding-top: 10px;
}
#chooseCol a{
	text-decoration: none;
	color: #8E8E8E;
	font-size: 18px;
	padding-top: 12px;
	display: inline-block;
}

#chooseCol a:hover{
	color: #218868;
	text-shadow: 1px 1px 1px;
}
#chooseCol span{
	font-size: 30px;
	padding-bottom: 20px;
	display: inline-block;
}
#chooseCol span:first-child{
	color: #218868;
}
#Operation span{
	color: #218868;
	font-size: 30px;
	padding-bottom: 20px;
	display: inline-block;
	float: right;
	position: absolute;
	right: 210px;
	top: 400px;
}
#divtest{
	position: absolute;
	top: 120px;
	left: 100px;
	width: 70%;
	height: 580px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 8px 8px 8px #888;
}
#pager{
	position: absolute;
	top: 650px;
	left: 37%;
}
#bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #383838;
    filter: alpha(opacity=70);
    opacity: .5;
}
.close{
	cursor: pointer;
	border: none;
	background-color: inherit;
	float: right;
	position: absolute;
	right: 15px;
	top: 2px;
	outline: none;
}
.close span{
	font-size: 42px;
	color: #BFBFBF;
}
#Edit{
	width: 600px;
	height: 530px;
	z-index: 101;
	position: absolute;
	top: 100px;
	left: 430px;
	background-color: #F5F5F5;
	border-radius: 8px;
	box-shadow: 5px 5px 5px #888;
}
#Eintro{
	height: 55px;
	border-bottom: 1px solid black;
}
#Eintro > span{
	position: absolute;
	left: 250px;
	top: 10px;
	color: #218868;
	font-size: 24px;
}
#EditBtn > span:hover{
	cursor: pointer;
	color: #218868;
	text-shadow: 1px 1px 1px;
}
#EditBtn > span{
	float: right;
	position: absolute;
	right: 230px;
	top: 460px;
	color: #8E8E8E;
	font-size: 18px;
	padding-top: 12px;
	display: inline-block;
}
#EInput{
	position: absolute;
	top: 100px;
	left: 50px;
	font-size: 20px;
}
#DeleteBtn > span:hover{
	cursor: pointer;
	color: #218868;
	text-shadow: 1px 1px 1px;
}
#DeleteBtn > span{
	float: right;
	position: absolute;
	right: 230px;
	top: 500px;
	color: #8E8E8E;
	font-size: 18px;
	padding-top: 12px;
	display: inline-block;
}
#Delete{
	width: 450px;
	height: 250px;
	z-index: 101;
	position: absolute;
	top: 200px;
	left: 500px;
	background-color: #F5F5F5;
	/*background-color: rgba(255,255,255,0.8);*/
	border-radius: 8px;
	box-shadow: 5px 5px 5px #888;
}
#Dintro{
	height: 55px;
	border-bottom: 1px solid black;
}
#Dintro > span{
	position: absolute;
	left: 190px;
	top: 10px;
	font-size: 26px;
	color: #218868;
}
#DInput{
	position: absolute;
	top: 100px;
	left: 50px;
	font-size: 20px;
}
#AddBtn > span:hover{
	cursor: pointer;
	color: #218868;
	text-shadow: 1px 1px 1px;
}
#AddBtn > span{
	float: right;
	position: absolute;
	right: 230px;
	top: 540px;
	color: #8E8E8E;
	font-size: 18px;
	padding-top: 12px;
	display: inline-block;
}
#Add{
	width: 600px;
	height: 530px;
	z-index: 101;
	position: absolute;
	top: 100px;
	left: 430px;
	background-color: #F5F5F5;
	border-radius: 8px;
	box-shadow: 5px 5px 5px #888;
}
#Aintro{
	height: 55px;
	border-bottom: 1px solid black;
}
#Aintro > span{
	position: absolute;
	left: 250px;
	top: 10px;
	font-size: 26px;
	color: #218868;
}
#AInput{
	position: absolute;
	top: 100px;
	left: 50px;
	font-size: 20px;
}
    .header{
    	background-color: #009999;
    	padding: 5px 0px 0px 30px;
    }
    .herder h2{
    	margin-left: 30px;
    }
    #logo{
        width: 13%;
        position: relative;
        top: -12px;
    }
    .ul{
        position: absolute;
        top: 25px;
        left: 530px;
    }
    .ul li a{
    	color:white;
    }
    .ul li a:active{
    	background-color: white;
    }
    #LinkActionOn{
    	color:black;
    }
    #LinkActionOff{
    	color:white;
    }
    #LinkActionOn:hover{
    	background-color: white;
    }
    #LinkActionOff:hover{
    	background-color: #339999;
    }
    .administrator{
    	width: 160px;
    	height: 50px;
    	/*border-radius: 25px;*/
    	border-top-left-radius:25px;
    	border-bottom-left-radius: 25px;
    	position: absolute;
    	right:0px;
    	top:15px;
    	background-color: #006C6C;
    	/*opacity: 0.3;*/
    }
    .picture{
    	width: 44px;
    	height: 44px;
    	border-radius: 22px;
    	position: absolute;
    	right:113px;
    	top:3px;
    	background-color:#158080;
    	overflow:hidden
    }
    #personal{
    	color:white;
    	position: absolute;
    	right:50px;
    	top:32px;
    	opacity: 0.8;
    }
    #pespic{
    	position: relative;
    	left:-1px;
    	top:-1px;
    }
    #triangle{
    	position: absolute;
    	right:20px;
    	top:31px;
    }
    #select{
        width:100px;
    }
    .Login {
        font-size: 14px;
        color: white;
    }
    .Login a{
        text-decoration: none;
        color: white;
    }
    .Login #profile{
        margin-right: -20px;
        position: relative;
        top:-10px;
        left:50px;
    }
    .Login #logout{
        position: relative;
        top:10px;
        left:15px;
    }
label{
	font-weight: normal;
	color: #8E8E8E;
}
button{
	color: #218868;
}